<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/79561afa19.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="jquery.datetimepicker.css">
        <script src="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
        <link href="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css" rel="stylesheet"/>
    
    <title>report</title>
</head>
<body>
    <div class="nav">
        <h1><i class="fas fa-paw"></i> รายงานการจัดส่ง <i class="fas fa-paw"></i></h1>
    </div>
    <div class="nav-report">
        <div class="report-h1">
            <h1>ค้นหารายงาน</h1>
        </div>
        <ul class="ul-navreport">
            <li>
                <form action="">
                <div class="icon-report"><i class="fas fa-user"></i></div>
                <div class="input-2">
                    <select>
                        <option value="cd">นายส้ม</option>
                        <option value="cd">นายส้ม</option>
                        <option value="cd">นายหมาย</option>
                    </select>
                </div>
                <div class="input-2">
                    <button type="submit">แสดงรายงาน</button>
                </div>
            </form>
            </li>
            <li>
                <form action="">
                    <div class="icon-report"><i class="fas fa-bone"></i></div>
                <div class="input-2">
                    <select>
                        <option value="cd">หญ้าธิโมธี</option>
                        <option value="cd">นายส้ม</option>
                        <option value="cd">หญ้าอัลฟาฟ่า</option>
                    </select>
                </div>
                <div class="input-2">
                    <button type="submit">แสดงรายงาน</button>
                </div>
            </form>
            </li>
            <li>
                <form action="">
                    <div class="icon-report">
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                    <div class="input-2">
                        <input type="date">
                    </div>
                    <div class="input-2">
                        <button type="submit">แสดงรายงาน</button>
                    </div>
            </form>
            </li>
        </ul>
        <a href="/" class="comehome">
            <i class="fas fa-home"></i>
        </a>
    </div>
        <div class="report">
            <div class="con-report">
                <table class="table-report">
                    <thead class="thead-report">
                        <tr>
                            <th>ลำดับที่</th>
                            <th>เลขที่ออเดอร์</th>
                            <th>ชื่อผู้จัดส่ง</th>
                            <th>วันที่จัดส่ง</th>
                            <th>จำนวน ออเดอร์</th>
                            <th>น้ำหนักรวม</th>
                            <th>ค่าจัดส่งรวม</th>
                        </tr>
                    </thead>
                    <tbody class="tbody-report">
                        <tr>
                     
                            <td>1.</td>
                            <td>cc11</td>
                            <td>นายส้ม</td>
                            <td> 11/12/2531</td>
                            <td>5</td>
                            <td>50</td>
                            <td>800</td>
                        </tr>
                        <tr>
                     
                            <td>1.</td>
                            <td>cc11</td>
                            <td>นายส้ม</td>
                            <td> 11/12/2531</td>
                            <td>5</td>
                            <td>50</td>
                            <td>800</td>
                        </tr>
                    </tbody>
                </table>
            </div>
          
        </div>

    </main>
    <script src="/script/script.js"></script>
    <script src="/script/scriptReport.js"></script>
</body>
</html>